<html>
    <head>
        <title> New Project </title>
        <link rel="stylesheet" href="css/style.css">
    </head>

    <body>
        <h2 class="title">{{title}}</h2>
        <h2>{{desc}}</h2>

        <form id="formEnter">
            <input type="text" id="address">
            <button> Search </button>
        </form>

        <p id="location"></p>
        <p id="forecast"></p>
        <p id="latitude"></p>
        <p id="longitude"></p>
        <p id="error"></p>


        <script src="js/script.js"></script>
    </body>
</html>